.App {
  font-family: sans-serif;
  /* text-align: center; */
}

body {
  background-image: url(./../public/curtain-1275200_1920.png);
  background-attachment: fixed;
  background-size: cover;
}

/* .card {
  background: blue;
  height: 300px;
  width: 200px;
  gap: 20px;
} */

.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
/* 
.App > div:nth-child(3) > .profile-pic {
  border-radius: 0px;
} */

.cardContainer {
  padding: 1rem;
}

/* movie component */

.movie-list {
  padding: 1em;
  margin: 2em;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(auto, 1.5fr);
  justify-content: space-around;
  grid-row-gap: 3em;
}

.movie-container {
  color: white;
  padding: 0.8rem;
  width: 19vw;
  height: min-content;
  border: 1px solid black;
  justify-content: space-around;
  box-shadow: 0 0 4px 1px rgb(199, 226, 222);
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: linear-gradient(
    135deg,
    rgba(255, 225, 225, 0.1),
    rgba(255, 225, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}

.movie-container:hover {
  transform: scale(1.1);
}

.movie-poster {
  width: 19vw;
  height: 450px;
  object-fit: fill;
  border-radius: 20px;
}

.movie-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-title {
  font-size: 18px;
  margin: 0;
}

.movie-rating {
  font-size: 18px;
  margin: 0;
}

.movie-summary {
  margin-top: 0;
  height: 19vh;
  text-overflow: ellipsis;
  overflow: auto;
}

@media screen and (max-width: 1380px) {
  .movie-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-around;
  }
}

@media screen and (max-width: 1060px) {
  .movie-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-around;
  }
}

@media screen and (max-width: 750px) {
  .movie-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-around;
  }
}

/* @media screen and (max-width: 308px) {
  .movie-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-around;
  }
}

@media screen and (max-width: 286px) {
  .movie-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-around;
  }
} */

/* scroll bar */
/* 

/* one */
/*

body::-webkit-scrollbar {
  width: 10px;
  border-right: 2px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px; 
  background: black;
  background-image: url(./../public/tt1.png);
  outline: 5px solid black;
}

body::-webkit-scrollbar-thumb {
  background-image: url(./../public/train2.png);
  border-radius: 10px;

}

body::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 10px 5px #ffffff; 
} */

/* tow */

p::-webkit-scrollbar {
  width: 12px;
}

p::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(235, 230, 230, 0.951);
  border-radius: 10px;
}

p::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(238, 228, 228, 0.5);
}

/* three */
